<div class="main">
  <div class="container">
    <div class="my-4">
      <p>Login</p>
    </div>
    <div>
      <form #login="ngForm" (ngSubmit)="onSubmit(login.value)">
        <div class="form-group">
          <label for="Email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email - admin@ppl.com"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Password - Admin@123"
            ngModel
            required
          />
        </div>
        <div class="">
          <input
            type="checkbox"
            class="form-check-input"
            id="remember"
          />
          <label class="form-check-label" for="remember">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="my-4">
        <p> Don't have an account? <span>Sign up</span></p>
    </div>
  </div>
</div>
